<nav class="shadow" id="banner">
  <ul id="nav-ul">
    <li>
      <p id="nav-logo">Pierre's Sweet and Savory Treats</p>
    </li>
    <li id="nav-li-2">
      <p>@Html.ActionLink("Home", "Index", "Home")</p>
    </li>
    <li>
      <p>@Html.ActionLink("Treats", "Index", "Treats")</p>
    </li>
    <li> 
      <p>@Html.ActionLink("Flavors", "Index", "Flavors")</p>
    </li>
  </ul>
</nav>