@model Pierre.Models.Treat

<h1>Unable to add @Html.DisplayFor(model => model.TreatName) to this flavor: treat is already added to this flavor</h1>

<p>@Html.ActionLink("Back to treat details", "Details", new { id = Model.TreatId })</p>