@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: rgb(217, 208, 222);
  text-align: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  color: black;
  font-weight: bold;
}

label {
  padding-right: .5em;
  margin-top: .5em;
}

input {
  display: block;
  margin: .25em auto;
}

.btn {
  display: block;
  margin: 1em auto;
  background-color: rgb(188, 141, 160);
  color: rgb(160, 70, 104);
}

.btn:hover {
  color: rgb(160, 70, 104);;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h4, h3 {
  color: black;
}

.bottom-link {
  display: inline;
  margin-right: .75em;
  margin-top: 3px;
}

.bottom-link-stack {
  display: list-flavor;
  margin-right: .75em;
  margin-top: 3px;
}

.bottom-link a {
  background-color: white;
  color: black;
  border: .2em solid purple;
  padding: .5em 1em;
  border-radius: .5em;
}

.bottom-link a:hover {
  background-color: purple;
  color: white;
  font-weight: normal;
}

#nav-ul {
  background-color: rgb(157, 150, 184);
  display: flex;
}

#nav-logo {
  font-size: 1.3rem;
  margin-left: 1em;
}

#nav-li-2 {
  margin-left:auto;
}

nav li > *{
  padding-right: 1em;
  padding-top: 1em;
}

nav li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

nav li a:hover {
  border-top: .5em solid purple;
  color: purple;
  font-weight: bold;
}

#hero-heading {
  text-align: center;
  color:black;
  font-weight: bold;
}

#hero {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 85vh;
  overflow: hidden;
  grid-template-areas:
    "top-left top-left right"
    "bottom-left bottom-left right"
}

.hero-img-top-left {
  grid-area: top-left;
  height: 40vh;
  position: relative;
}

.hero-img-bot-left {
  grid-area: bottom-left;
  height: 40vh;
  position: relative;
}

.hero-img-right {
  grid-area: right;
  height: 100px;
  position: relative;
  
}

.hero-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(160, 70, 104);
  padding: .5em 1em;
  font-size: 1.3rem;
  border-radius: .5em;
}

.hero-img {
  width: 60%;
}

#hero a:hover :first-child {
  width: 65%;
}

#treat-details-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1em 0 2em 0;
  text-align: center;
}

.treat-details-li {
  display: inline-block;
  background-color: rgb(241, 84, 202);
  color: black;
  width: 20em;
  padding: 1em 0;
  border-radius: .5em;
  font-size: 1.3rem;
}

.treat-details-li p {
  font-size: 1.2rem;
}

.treat-details-li input {
  border: none;
  margin-top: .5em;
  padding: .25em .5em;
  border-radius: .25em;
  font-size: .8rem;
}

#completed {
  color: blue;
}

#incomplete {
  color: darkred;
}

#treat-details-filter a{
  color: black;
  background-color: rgb(241, 84, 202);
  padding: .25em .5em;
  border-radius: .25em;
}

#treat-details-filter {
  margin-top: 1.5em;
}

#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}

#locations {
  width: auto;
  min-height: 100%;
}

