@model Pierre.Models.Flavor

<h1>Unable to add @Html.DisplayFor(model => model.Name) to this treat: flavor is already added to this treat</h1>

<p>@Html.ActionLink("Back to flavor details", "Details", new { id = Model.FlavorId })</p>